<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>imageName</key>
		<string></string>
	</dict>
	<key>1</key>
	<dict>
		<key>imageName</key>
		<string>iso_outside_ground</string>
		<key>minHeight</key>
		<string>0.48</string>
		<key>maxHeight</key>
		<string>1.01</string>
		<key>layer</key>
		<string>terrain</string>
	</dict>
	<key>2</key>
	<dict>
		<key>imageName</key>
		<string>iso_outside_water</string>
		<key>minHeight</key>
		<string>0.00</string>
		<key>maxHeight</key>
		<string>0.48</string>
		<key>layer</key>
		<string>terrain</string>
	</dict>
	<key>3</key>
	<dict>
		<key>imageName</key>
		<string>iso_outside_rock</string>
	</dict>
</dict>
</plist>
